<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Home</a>
            {% if username %}
            <small>Welcome, {{ username }} {{ user_info }} !</small>
            {% endif %}
        </h1>
    </div>

    {% if message %}
    <h3><p style="color:red">{{ message }}</p></h3>
    {% endif %}

    {% if username %}
    <h3><p style="color:green">login success</p></h3>
    {% endif %}

    {% if register_flag %}
    <h3><p style="color:green">register success</p></h3>
    {% endif %}

    <h3>session</h3>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default" onclick="window.location.href = '/login'">login</button>
        <button type="button" class="btn btn-default" onclick="window.location.href = '/register'">register</button>
        <button type="button" class="btn btn-default" onclick="window.location.href = '/logout'">logout</button>
    </div>
    <h3>user opt</h3>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default" onclick="insert_user()">insert</button>
        <button type="button" class="btn btn-default">delete(cd /query/)</button>
        <button type="submit" class="btn btn-default" onclick="update_self()">update (no admin)</button>
        <button type="button" class="btn btn-default" onclick="query()">query</button>
    </div>
    <h3>board opt</h3>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default">insert</button>
        <button type="button" class="btn btn-default">delete</button>
        <button type="button" class="btn btn-default">update</button>
        <button type="button" class="btn btn-default">query</button>
    </div>
    <h3>bbs opt</h3>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default">insert</button>
        <button type="button" class="btn btn-default">delete</button>
        <button type="button" class="btn btn-default">update</button>
        <button type="button" class="btn btn-default">query</button>
    </div>

    <script type=text/javascript src="{{
        url_for('static', filename='jquery-1.11.3.min.js') }}">
    </script>
    <script type="text/javascript">
        function insert_user(){
            var session_id = "{{ session['id'] }}".toString();
            if( session_id == ""){              //如果不是登录状态，不能进行insert_user操作
                alert('请先登录');
                return false;
            }
            else{                               //如果是登录状态
                var user_id = session_id;      //因为是修改自己，所以获取session中的id
                window.location.href = '/register'
            }
        }

        function update_self(){
            var session_id = "{{ session['id'] }}".toString();
            if( session_id == ""){              //如果不是登录状态，不能进行insert_user操作
                alert('请先登录');
                return false;
            }
            else{                               //如果是登录状态
                var user_id = session_id;      //因为是修改自己，所以获取session中的id
                //第一种方式成功，来来去去就是获取user_id，可以获取user_id，但是没有跳转
                //$.post('/update_self/edit/' + user_id, user_id, function(data, status){     //执行post操作，向server上传user_id
                //    //alert('data :' + data + ',status :' + status);
                 //   return window.location.href="/update_self/edit/" + data
                //});
                //尝试第二种方式，直接跳转到user_id的界面，不用管什么get/post，因为flask中的代码判断的是get
                window.location.href="/update_self/edit/" + user_id
            }
        }

        function query(){
            var session_id = "{{ session['id'] }}".toString();
            if( session_id == ""){              //如果不是登录状态，不能进行insert_user操作
                alert('请先登录');
                return false;
            }
            else{                               //如果是登录状态
                var user_id = session_id;      //因为是修改自己，所以获取session中的id
                window.location.href = '/user_list'
            }
        }
    </script>
</body>
</html>
